// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.body {
  background-color : #eae3e3;
}

.form {
  text-align: center;
  color: green;
  margin: 150px;
  border: 2px solid red;
  padding: 50px;
  background-color: #f4dede;
}

.answer {
  text-align:center;
  color: #5e2121;
  margin: 100px;
   border: 2px solid red;
  padding: 50px;
  background-color: #f4dede;

}
